body{
  background:black url("/images/background.jpg") no-repat;
}
#profile-wrapper{
    text-align: center;
}
#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 40px;
    height: 40px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #07b2e6;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


.footer {
    text-align: center;
}
